In [ ]:
"""
Warm-up 1: Cho một danh sách sản phẩm như sau:
products = {
    'SMART WATCH': 550,
    'PHONE' : 1000,
    'PLAYSTATION': 500,
    'LAPTOP' : 1550,
    'MUSIC PLAYER' : 600,
    'TABLET' : 400 
}
Viết chương trình hiển thị các sản phẩm có giá bé hơn hoặc bằng so với giá tiền mà người dùng nhập
"""

In [ ]:
"""
Warm-up 2: 
"""

## Bài 1: list to dict
Cho 2 list có cùng số phần tử với nhau. Hãy tạo ra một dict từ 2 list đã cho theo format dưới đây:

**Input**

In [ ]:
Cho 2 list có cùng số phần tử với nhau. Hãy tạo ra một dict từ 2 list đã cho theo format dưới đây:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

**Output**

In [ ]:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

**Your code**

In [2]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
# code below this line
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

result_dict = {}
for i in range(len(keys)):
    result_dict[keys[i]] = values[i]
print(result_dict)
# code above this line

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

## Bài 2: merge dictionary
Hãy gộp 2 dictionary sau đây thành một.

**Input**

In [ ]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

**Output**

In [ ]:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

**Your code**

In [2]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

merged_dict = {**dict1, **dict2}
print(merged_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

## Bài 3: where is the value?
Hãy in ra giá trị của "history" trong dictionary dưới đây.

**Input**

In [ ]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

**Output**

In [ ]:
80

**Your code**

In [3]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
# code below this line
history_score = sampleDict["class"]["student"]["marks"]["history"]
print("Điểm môn History:", history_score)
# code above this line

Điểm môn History: 80

## Bài 4: Delete set of keys from a dictionary
Hãy xóa các key có trong set dưới đây ra khỏi dictionary.

**Input**

In [ ]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = {"name", "salary"}

**Output:**

In [ ]:
{'city': 'New york', 'age': 25}

**Your code**

In [7]:
sampleDict = {
  "name": "Kelly",
  "age": 25,
  "salary": 8000,
  "city": "New york"
}

keysToRemove = {"name", "salary"}

for key in keysToRemove:
    sampleDict.pop(key, None)

print(sampleDict)

{'age': 25, 'city': 'New york'}

## Bài 5: Check if a value 200 exists in a dictionary
Hãy kiểm tra xem số 200 có phải là value của dictionary dưới đây không nhé.

**Input**

In [ ]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}

**Output**

In [ ]:
True

**Your code**

In [4]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}
# code below this line
if 200 in sampleDict.values():
    print("Số 200 tồn tại trong các giá trị của từ điển.")
else:
    print("Số 200 không tồn tại trong các giá trị của từ điển.")
# code above this line

Số 200 tồn tại trong các giá trị của từ điển.

## Bài 6: rename key
Hãy thay thế key `city` thành `location` trong dictionary dưới đây.

**Input**

In [ ]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

**Output**

In [ ]:
{
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "location": "New york"
}

**Your code**

In [9]:
sampleDict = {
  "name": "Kelly",
  "age": 25,
  "salary": 8000,
  "city": "New york"
}

sampleDict['location'] = sampleDict.pop('city')

print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

## Bài 7: key of minimum value
Hãy in ra key chứa value nhỏ nhất trong dictionary dưới đây.

**Input**

In [ ]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

**Output**

In [ ]:
Math

**Your code**

In [2]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
# code below this line
min_key = min(sampleDict, key=sampleDict.get)
# code above this line
print( min_key)

Math

## Bài 8: new salary
Hãy tăng lương(`salary`) cho Brad từ 6500 lên 8500 trong dictionary dưới đây nhé.

**Input**

In [ ]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

**Output**

In [ ]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 8500}
}

**Your code**

In [3]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
# code below this line
for emp in sampleDict.values():
    if emp['name'] == 'Brad':
        emp['salary'] = 8500
# code above this line
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}